.cart-features__link--has {
  color: #09c37c;
}

.cart-features__link:hover {
  color: #eee;
}

.cart-features__count {
  margin-left: 0.5rem;
}

/* Cart Item */

.cart-item {
  position: relative;
  display: flex;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.cart-item:hover {
  box-shadow: 0 0 0.5rem #eee;
}

.cart-item__figure {
  width: 140px;
}

.cart-item__image {
  width: 100%;
}

.cart-item__details {
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.cart-item__price {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.cart-item__name {
  font-size: 1rem;
}

.cart-item__link {
  color: #838383;
}

.cart-item__link:hover {
  color: #444;
}

.cart-item__color,
.cart-item__size {
  font-weight: 700;
}

.cart-item-variants__variant {
  display: inline-block;
  margin-right: 1.5rem;
}

.cart-subtotal {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 3rem 0 1.5rem;
}

.cart-subtotal__subtotal {
  text-transform: uppercase;
}

.cart-subtotal__price {
  margin-left: 3rem;
}

.cart-item-actions {
  display: flex;
  margin-top: 1.5rem;
}

.cart-item-actions__trigger {
  width: 2rem;
  height: 2rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #43b9fd;
}

.cart-item-actions__trigger:disabled {
  color: #838383;
  background-color: #eee;
}

.cart-item-actions__trigger--remove {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background: url('../../images/close.svg') no-repeat center;
}
