.pagination {
  padding: 1.5rem 0;
}

.pagination__link {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: hsl(209, 97%, 54%);
}

.pagination__link--prev {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination__link--next {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination__link--disabled {
  color: #aaa;
  background-color: #eee;
}

.pagination__status {
  margin-left: 1.5rem;
}
