.search {
  position: relative;
}

.search__trigger {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  color: #777;
  font-size: 1.5rem;
  cursor: pointer;
  visibility: hidden;
  background-color: transparent;
}

.search__input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 6rem;
  background-color: #3d3d3d;
}

.search__input:focus {
  outline: none;
  border-color: #77b2ff;
  background-color: #eee;
}
